.footer-top {
  background-color: #26282C;
  color: #BDBDBE;

  .list-group-item {
    color: #BDBDBE;
    font-size: 13px;
  }

  .fcontacts {
    font-size: 13px;
  }

  .input-group {
    width: 180px;

    .form-control {
      background-color: #26282C;
      color: #BDBDBE;
      border-radius: 20px;
    }
  }
  .lang-btn {
    width: 180px;
  }
}

.footer-bottom {
  background-color: #000;
  color: #BDBDBE;
  font-size: 13px;
}